{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
Add Video
{% endblock title %}

{% block content %}
<div class="container">
    <h3>Add Video to {{playlist}}</h3>
<form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
      </div>
      {% endfor %}

    <button type="submit" class="btn btn-primary">Add</button><br><br>
</form>


    <h3>OR</h3>
        <form method="post">
    {% csrf_token %}

    {% for field in searchform %}
      <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
      </div>
      {% endfor %}

</form>

    <div id="search_form"></div>



</div>
{% endblock content %}
